<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>

  <form
    [formGroup]="loginForm"
    class="login-form full-width"
    (ngSubmit)="login()"
  >
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          type="email"
          placeholder="Email"
          [formControl]="loginForm.controls.email"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="primary" class="login-btn">Log in</button>
  </form>
</mat-card>
