  <div class="data-form">
    <form class="form-signin" action="<%=`/workout/new`%>" method="POST">
      <h2 class="form-signin-heading">Create a new workout:</h2>
      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus required>
      <br />
      <div class="action-container">
        <a class="btn btn-primary" href="/workout">Back</a>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>