<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Strava-God</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/workout">Workouts</a>
      <a mat-list-item *ngIf="isAuthenticated$ | async" routerLink="/activities"
        >My Activities</a
      >
      <a mat-list-item *ngIf="!(isAuthenticated$ | async)" routerLink="/sign-in"
        >Sign In</a
      >
      <a mat-list-item *ngIf="!(isAuthenticated$ | async)" routerLink="/sign-up"
        >Sign Up</a
      >
      <a mat-list-item (click)="logout()" *ngIf="isAuthenticated$ | async"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="screenPadding">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Strava-God</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/workout">Workouts</a>
      <a mat-button *ngIf="isAuthenticated$ | async" routerLink="/activities"
        >My Activities</a
      >
      <a mat-button *ngIf="!(isAuthenticated$ | async)" routerLink="/sign-in"
        >Sign In</a
      >
      <a mat-button *ngIf="!(isAuthenticated$ | async)" routerLink="/sign-up"
        >Sign Up</a
      >
      <a mat-button (click)="logout()" *ngIf="isAuthenticated$ | async"
        >Logout</a
      >
    </mat-toolbar>

    <div class="screenPadding">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
