<h1>WORKOUT!</h1>
<ul>
    <% workouts.forEach(workout => { %>
        <li>
            <a href="<%= `/workout/${workout._id}` %>">
                <%= workout.title %>
            </a>
        </li>
    <% }); %>
</ul>

<div>
    <a class="btn btn-primary btn-block" href="<%= `/workout/new` %>">New Exercise</a>
</div>


