  <div class="data-form">
    <form class="form-signin" action="<%=`/workout/new`%>" method="POST">
      <h2 class="form-signin-heading">Create a new workout:</h2>
      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>