<h1 ><%= workout.title %></h1>

<ul>
    <% workout.exercises.forEach(exercise => { %>
        <li>
            <p><% exercises.name %></p>
            <p><% exercises.description %></p>
            <p><% exercises.numberOfSets %></p>
            <p><% exercises.numberOfRepetitions %></p>
            <p><% exercises.timeInMinutes %></p>
        </li>
    <% }); %>
</ul>
  
<div>
<a class="button" href="<%= `/workout/${workout._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
</div>
<div>
    <a class="button" href="/workout">Back</a>
</div>
