<mat-card class="workout-detail-card">
  <ng-container *ngIf="workout$ | async as workout">
    <mat-card-header>
      <mat-card-title>{{ workout.title }}</mat-card-title>
      <mat-card-subtitle>Workout</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <app-exercise-list
        *ngIf="workout.exercises.length > 0"
        [exercises]="workout.exercises"
      ></app-exercise-list>
      <p class="no-exercises-label" *ngIf="workout.exercises.length === 0">
        No exercises in this workout.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <span class="spacer"></span>
      <button
        mat-stroked-button
        (click)="goBack()"
        class="btn-back"
        color="primary"
      >
        Back
      </button>
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <button
          *ngIf="currentUser.id == workout.owner.id"
          mat-stroked-button
          (click)="addExercise()"
          class="btn-add"
          color="primary"
        >
          Add exercise
        </button>
      </ng-container>
      <button
        mat-stroked-button
        (click)="logActivity()"
        class="btn-log"
        color="primary"
      >
        Log activity
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
