<mat-card class="workout-card">
    <mat-card-header>
        <h1>Workouts</h1>
    </mat-card-header>

    <mat-card-content>
        <ng-container *ngIf="workouts$ | async as workouts; else loading">
            <div class="info" *ngIf="workouts.length==0">
                <p>There are no workouts yet.</p>
            </div>

            <div class="workout-container" *ngIf="workouts.length > 0">
                <mat-card class="single-workout-card" *ngFor="let workout of workouts">
                    <mat-card-header>
                        <p>{{ workout.title }}</p>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="viewWorkout()">View</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>


    </mat-card-content>

    <mat-card-actions *ngIf="(isAuthenticated$ | async)">
        <button mat-fab class="add-btn" (click)="createWorkout()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<ng-template #loading>
    <p>Loading</p>
</ng-template>