<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>directions_run</mat-icon>
    </div>
    <mat-card-title>{{ workout.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ workout.owner.fullName }} |
      {{ workout.createdAt | date }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="viewWorkout()"
      class="btn-view"
      color="primary"
    >
      View
    </button>
  </mat-card-actions>
</mat-card>
